
@import 'variables';

:host {
    .chip {
        border-radius: 2rem;
        background: $primary-light;
        margin: 0.1rem 0.3rem 0.1rem 0;
        padding: 0 0.5rem;
        height: 1.2rem;
        display: flex;
        align-items: center;

        small {
            font-size: 0.65rem;
        }
    }

    fa-icon {
        font-size: 0.7rem;
        color: grey;
        margin-left: 0.3rem;
    }
}