@font-face {
  font-family: Metropolis;
  src: url(assets/fonts/Metropolis-Bold.otf) format("opentype");
  font-weight: bold;
}

@font-face {
    font-family: Metropolis;
    src: url(assets/fonts/Metropolis-SemiBold.otf) format("opentype");
    font-weight: semi-bold;
  }

  @font-face {
    font-family: Metropolis;
    src: url(assets/fonts/Metropolis-Medium.otf) format("opentype");
    font-weight: medium;
  }

  @font-face {
    font-family: Metropolis;
    src: url(assets/fonts/Metropolis-Light.otf) format("opentype");
    font-weight: light;
  }

